version: '3.8'

services:
  db:
    build: .
    platform: linux/amd64
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: railroad
      MYSQL_USER: railuser
      MYSQL_PASSWORD: railpassword
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
