version: '3.8'

services:
  db:
    image: mysql:8.0
    platform: linux/amd64
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: railroad
      MYSQL_USER: railuser
      MYSQL_PASSWORD: railpassword
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app_network

  wordpress:
    build: .
    image: wordpress:latest
    ports:
      - "8000:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: railuser
      WORDPRESS_DB_PASSWORD: railpassword
      WORDPRESS_DB_NAME: railroad
    depends_on:
      - db
    networks:
      - app_network

volumes:
  mysql_data:

networks:
  app_network:

